body{
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  height: 100%;
}

.pad-top{
  height: 20%;
}

@media only screen and (min-width: 1400px){
  .logo-and-heading{
    display: flex;
    align-items: center;
  }
}

/* .logo-and-heading img{
  margin-left: 0.2em;
} */

.logo-and-heading h1{
  font-family: 'Ubuntu', sans-serif;
  display: inline;
  color: #5599ff;
  margin: 0;
  padding: 0;
  font-size: 75pt;
  margin-left: 0.23em;
}

.logo-and-heading img{
  height: 85pt;
  align-items: center;
}

.sub-heading{
  font-family: 'PT Serif', serif;
  font-size: 30px;
}

.hover{
  box-shadow: 7px 12px #777;
}

.social-links li{
  margin: 0;
  padding: 0;
}

.social-links li{
  display: inline;
  font-size: 20pt;
  margin-right: 1em;
  text-decoration: none;
}

.social-links a{
  text-decoration: none;
  color: #5599ff;
}

